#mlmlogo {
	width: 50px;
	height: 50px;
	padding: 1px;
}

.navbar-nav li {
 line-height: 35px;
}

#message_sent {
	display: none;
}

.unReadMessage {
	font-weight: bold;
}

.readMessage {
	font-weight: normal;
}

body {
	height: 100%;
	background-image: url("/static/images/blueberries.jpg");
 	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400px;
	font-size: 14px;
	background-attachment: fixed;
}

.outmostBox {
	background-color: rgba(255,255,255,0.88);
	min-height: 625px;
	width: 95%;
	margin: auto;
	border-radius: 5px;
}

#bodyContainerFluid {
	margin-left: 50px;
	margin-right: 50px;
}

#map { 
	padding: 10px; height: 600px; width: 100%; 
}

#listingsMap { 
	padding: 10px; height: 600px; width: 100%;
}

#myListingsheader {
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.allergen {
	width: 25px;
}

#mapHeading,
#listingsContainer,
#listingsTable{
    margin-top: -35px
}

#flashMessage{
	background-color: rgba(150, 185, 217, 0.4);
}

.navbar {
	background-color: rgba(235, 238, 242, 0.9);
	font-size: 16px;
}

#descriptionBox {
	width: 73%;
}

#formContainer {
	margin-right: 15px;
	margin-left: 30px;
}

#geoCheckbox,
#deactivateCheckbox {
	height: 28px;
	padding-right: 0px;
}

h3 {
	font-family: 'Pacifico', cursive;
	font-size: 32px;
}

#freshLabel,
#frozenLabel,
#editfreshLabel,
#editfrozenLabel {
	font-weight: normal;
}

#fresh,
#frozen {
	margin-top: 8px;
}

#verticalDivide {
	border-left-style: solid;
    border-left-width: 1px; 
    border-left-color: #CCD1D9;
    margin-bottom: 40px;
    padding-left: 30px;
}

#horizontalDivide {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCD1D9; 
	padding-bottom: 15px;
}

#tableHeading {
	padding-left: 55px;
}

#formHeading {
	padding-bottom: 15px;
}

#listingsTable,
#userListingsTable {
	margin-top: 10px;
}

#allergensHeader,
#editallergensHeader {
	font-weight: 700;
    font-size: 14px;
}

#allergenGroup {
	margin-left: 15px;
}

#phoneDiv {
	margin-top: 25px;
}

#descriptionDiv {
	margin-top: 25px;
}

.allergenRow {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
}

#datemade {
	font-size: 14px;
}

#soy {
	height: 28px;
	padding-right: 0px;
}

#submitButton,
#viewButton,
.interestedButton,
#updateFormButton {
	width: 150px;
	background-color: #F32658;
	color: white;
	font-weight: 700;
}

.replyButton,
.readStatusButton,
.deleteButton {
	width: 100%;
	background-color: #F32658;
	color: white;
	font-weight: 700;
}

#listingsCol {
	width: 700px;
}

#tableButton,
#mapButton {
	margin-top: 15px;
	margin-bottom: 0;
}

#tableButton {
	margin-left: 25px;
}

#activeListings {
	font-weight: 700;
}

#messageSent {
	background-color: rgba(150, 185, 217, 0.4);
}

.messageSent {
	vertical-align: middle;
}

#editListingHeading {
	margin-bottom: 25px;
}

#editOutermostBox,
#foodInfoBox {
	width: 700px;
}

#foodInfo {
	font-size: 16px;
}

#imInterested {
	margin-top: 15px;
}

#interestedMessage {
	width: 600px;
}


