{% extends 'base.html' %}
{% block title %}Edit Your Mush - {% endblock %}
{% block content %}
<div class="outmostBox" id="editOutermostBox">
	<div class="row">
		<div class="container">
			<div id="formContainer" class="col-sm-8">
				<center><h3 id="editListingHeading">Listing for: {{ food_listing.title }}</h3></center>
				<form class="form-horizontal" action='/updatelisting' method='post'>
					<input type='hidden' name='food_id' value='{{ food_listing.food_id }}'>
					<input type='hidden' name='allergen_id' value='{{ food_listing.allergen_id }}'>
					<div class="col-sm-6">
						<div class="row">
							<div class="form-group form-group-md">
								<label class="col-sm-3" for="title">Title:</label>
								<div class="col-sm-6">
									<input id="title" class="form-control" type='text' name='title' value='{{ food_listing.title }}'>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group form-group-md">
								<label class="col-sm-3" for="texture">Texture:</label>
								<div class="col-sm-6">
									<select class="form-control" id="texture" name='texture'>
										{% if food_listing.texture == 'smooth_puree'%}
										<option class="form-control" value='smooth_puree' selected>Smooth puree
										{% else %}
										<option class="form-control" value='smooth_puree'>Smooth puree
										{% endif %}
										{% if food_listing.texture == 'lumpy_puree'%}
										<option class="form-control" value='lumpy_puree' selected>Lumpy puree
										{% else %}
										<option class="form-control" value='lumpy_puree'>Lumpy puree
										{% endif %}
										{% if food_listing.texture == 'diced'%}
										<option class="form-control" value='diced' selected>Diced
										{% else %}
										<option class="form-control" value='diced'>Diced
										{% endif %}
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group form-group-md">
								<label class="col-sm-3" for="datemade">Date made:</label>
								<div class="col-sm-6">
									<input class="form-control" id="datemade" type='date' name='datemade' value='{{ food_listing.datemade.strftime("%Y-%m-%d") }}'>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group form-group-md">
								<label class="col-sm-3" for="quantity">Amount (oz.):</label>
								<div class="col-sm-6">
									<input id="quantity" class="form-control" type='number' name='quantity' value='{{ food_listing.quantity }}'>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="form-group form-group-md">
								<h4 id="editallergensHeader" class="col-sm-12">Allergens:</h4>
								<div class="allergenRow row">
									<div class="col-sm-6">
										<label class="checkbox-inline">
											{% if food_listing.allergen.eggs %}
											<input type='checkbox' name='allergens' value='eggs' checked>Eggs
											{% else %}
											<input type='checkbox' name='allergens' value='eggs'>Eggs
											{% endif %}
										</label>
										<label class="checkbox-inline">
											{% if food_listing.allergen.dairy %}
											<input type='checkbox' name='allergens' value='dairy' checked>Dairy
											{% else %}
											<input type='checkbox' name='allergens' value='dairy'>Dairy
											{% endif %}
										</label>
									</div>
								</div>
								<div class="allergenRow row">
									<div class="col-sm-6">
										<label class="checkbox-inline">
											{% if food_listing.allergen.wheat %}
											<input type='checkbox' name='allergens' value='wheat' checked>Wheat
											{% else %}
											<input type='checkbox' name='allergens' value='wheat'>Wheat
											{% endif %}
										</label>
										<label class="checkbox-inline">
											{% if food_listing.allergen.peanuts %}
											<input type='checkbox' name='allergens' value='peanuts' checked>Peanuts
											{% else %}
											<input type='checkbox' name='allergens' value='peanuts'>Peanuts
											{% endif %}
										</label>
									</div>
								</div>
								<div class="allergenRow row">
									<div class="col-sm-6">
										<label class="checkbox-inline">
											{% if food_listing.allergen.soy %}
											<input type='checkbox' name='allergens' value='soy' checked>Soy
											{% else %}
											<input type='checkbox' name='allergens' value='soy'>soy
											{% endif %}
										</label>
										<label class="checkbox-inline">
											{% if food_listing.allergen.treenuts %}
											<input type='checkbox' name='allergens' value='treenuts' checked>Treenuts
											{% else %}
											<input type='checkbox' name='allergens' value='treenuts'>Treenuts
											{% endif %}
										</label>
									</div>
								</div>
								<div class="allergenRow row">
									<div class="col-sm-6">
										<label class="checkbox-inline">
											{% if food_listing.allergen.fish %}
											<input type='checkbox' name='allergens' value='fish' checked>Fish
											{% else %}
											<input type='checkbox' name='allergens' value='fish'>Fish
											{% endif %}
										</label>
										<label class="checkbox-inline">
											{% if food_listing.allergen.shellfish %}
											<input type='checkbox' name='allergens' value='shellfish' checked>Shellfish
											{% else %}
											<input type='checkbox' name='allergens' value='shellfish'>Shellfish
											{% endif %}
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-group-md">
								<label class="col-sm-3 control-label">Fresh or Frozen:</label>
								<label id="editfreshLabel" class="col-sm-2 control-label" for="fresh">Fresh </label>
								{% if food_listing.freshfrozen == 'fresh' %}
								<input id="fresh" class="col-sm-1 radio-inline" type='radio' name='freshfrozen' value='fresh' checked>
								{% else %}
								<input id="fresh" class="col-sm-1 radio-inline" type='radio' name='freshfrozen' value='fresh'>
								{% endif %}
								<label id="editfrozenLabel" class="col-sm-2 control-label" for="frozen">Frozen </label>
								{% if food_listing.freshfrozen == 'frozen' %}
								<input id="frozen" class="col-sm-1 radio-inline" type='radio' name='freshfrozen' value='frozen' checked>
								{% else %}
								<input id="frozen" class="col-sm-1 radio-inline" type='radio' name='freshfrozen' value='frozen'>
								{% endif %}
							</div>
							<div class="col-sm-3"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group form-group-md">
							<label class="col-sm-3 control-label" for="description">Description:</label>
							<div class="col-sm-6">
								<textarea class="form-control" id="description" name='description' rows='3' cols='50'>{{ food_listing.description }}</textarea>
							</div>
							<div class="col-sm-3"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group form-group-md">
							<label class="col-sm-3 control-label">Shared with: </label>
							<div class="col-sm-3">
								<input class="form-control" type='text' name='shared_with_fname' placeholder='First name'>
							</div>
							<div class="col-sm-3">
								<input class="form-control" type='text' name='shared_with_lname' placeholder='Last name'>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group form-group-md">
							<div class="col-sm-2"></div>
							<label class="col-sm-7 control-label checkbox-inline" style="font-weight: 700">Deactivate mush (This will remove it from the active listings)</label>
							<input id="deactivateCheckbox" type='checkbox' name='deactivate' value='deactivate'>
						</div>
						<div class="col-sm-5"></div>
					</div>
					<div class="row">
						<div class="form-group">
							<input id="updateFormButton" class="col-sm-2 col-sm-offset-7 btn btn-default" type='submit' value='Update Mush!'>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}

