{% extends 'base.html' %}
{% block content %}
<script src="/static/facebookforhomepage.js"></script>


<fb:login-button size = 'large' length = 'long' autologoutlink = 'true' onlogin = 'testAPI()'></fb:login-button>
<div id="status"></div>

<h1>Make Less Mush</h1>

{% for message in get_flashed_messages() %}
	{{message}}
{% endfor %}

<h2>Post a new listing</h2>
	<form action='/postlisting' method='post'>
		<label>Title:
			<input type='text' name='title'>
		</label>
		<br>
		<label>Description:<br>
			<textarea name='description' rows='10' cols='50' placeholder='Please include: ingredients, texture, quantity and when it was made.'></textarea>
		</label>
		<br>
		<input type='submit' value='create listing'>
	</form>

<h2>Most recent listings:</h2>

<table>
	<thead>
		<tr>
			<th>Date posted</th>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{% for food in recent_listings %}
			<tr>
				<td>{{ food.post_date.strftime("%b %d, %Y") }}</td>
				<td><a href="/listings/{{ food.food_id }}">
                    {{ food.title }}
                	</a>
                </td>
				<td>{{ food.description }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>



<p><a href='/listings'>View all</a></p>

{% endblock %}
