{% extends 'base.html' %}
{% block content %}

<h1>Make Less Mush</h1>

{% for message in get_flashed_messages() %}
	{{message}}
{% endfor %}

{% if 'user_id' not in session %}
	<h3>Don't forget to login before posting or checking out the Make Less Mush listings!</h3>
{% endif %}

<h2>Post a new listing</h2>
	<form action='/postlisting' method='post'>
		<label>Title:
			<input type='text' name='title'>
		</label>
		<br>
		<label>Texture:
			<select name='texture'>
				<option value='smooth_puree'>Smooth puree
				<option value='lumpy_puree'>Lumpy puree
				<option value='diced'>Diced
			</select>
		</label>
		<br>
		<label>Date made:
			<input type='date' name='datemade'>
		</label>
		<br>
		<label>Quantity:
			<input type='number' name='quantity'> oz.
		</label>
		<br>
		<input type='radio' name='freshfrozen' value='fresh'>Fresh
		<input type='radio' name='freshfrozen' value='frozen'>Frozen
		<br>
		<label>Description:<br>
			<textarea name='description' rows='10' cols='50' placeholder='Please include ingredients'></textarea>
		</label>
		<br>
		<label>Allergens:
			<input type='checkbox' name='allergens' value='eggs'>Eggs
			<input type='checkbox' name='allergens' value='dairy'>Dairy
			<input type='checkbox' name='allergens' value='wheat'>Wheat
			<input type='checkbox' name='allergens' value='peanuts'>Peanuts
			<input type='checkbox' name='allergens' value='soy'>Soy
			<input type='checkbox' name='allergens' value='treenuts'>Tree nuts
			<input type='checkbox' name='allergens' value='fish'>Fish
			<input type='checkbox' name='allergens' value='shellfish'>Shellfish
		</label>
		<br>
		<input type='submit' value='create listing'>
	</form>

<h2>Most recent listings:</h2>

<table>
	<thead>
		<tr>
			<th>Date posted</th>
			<th>Title</th>
			<th>Description</th>
			<th>Made by</th>
		</tr>
	</thead>
	<tbody>
		{% for food in user_listings %}
			<tr>
				<td>{{ food.post_date.strftime("%b %d, %Y") }}</td>
				<td><a href="/listings/{{ food.food_id }}">
                    {{ food.title }}
                	</a>
                </td>
				<td>{{ food.description }}</td>
				<td>{{ food.user.fname }} {{ food.user.lname }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<p><a href='/listings'>View all</a></p>

{% endblock %}
