{% extends 'base.html' %}
{% block content %}
<script>
	$("#listingsButton").attr("class", 'active');
</script>
<h2>Listings</h2>
<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Date posted</th>
			<th>Title</th>
			<th>Description</th>
			<th>Posting user</th>
		</tr>
	</thead>
	<tbody>
		{% for food in foods %}
			<tr>
				<td>{{ food.post_date.strftime("%b %d, %Y") }}</td>
				<td><a href="/listings/{{ food.food_id }}">
                    {{ food.title }}
                	</a>
                </td>
				<td>{{ food.description }}</td>
				<td><a href="/user/{{ food.user_id }}">{{ food.user.fname }} {{ food.user.lname }}</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
