{% extends 'base.html' %}
{% block title %}Listings - {% endblock %}
{% block content %}
<script>
	$("#listingsButton").attr("class", 'active');
</script>
<button id="tableButton" class="btn btn-default">Table</button>
<button id="mapButton" class="btn btn-default active" autofocus>Map</button>
<div id="listingsTable" style="display: none">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Date posted</th>
				<th>Title</th>
				<th>Description</th>
				<th>Allergens</th>
				<th colspan="2">Posting user</th>
			</tr>
		</thead>
		<tbody>
			{% for food in foods %}
				<tr>
					<td>{{ food.post_date.strftime("%b %d, %Y") }}</td>
					<td><a href="/listings/{{ food.food_id }}">
	                    {{ food.title }}
	                	</a>
	                </td>
					<td>{{ food.description }}</td>
					<td>
					{% if food.allergen.eggs %}
						<img class="img-circle" src="/static/images/eggs.png" alt="eggs">
					{% endif %}
					{% if food.allergen.wheat %}
						<img class="img-circle" src="/static/images/wheat.png" alt="wheat">
					{% endif %}
					{% if food.allergen.dairy %}
						<img class="img-circle" src="/static/images/dairy.png" alt="dairy">
					{% endif %}
					{% if food.allergen.peanuts %}
						<img class="img-circle" src="/static/images/peanuts.png" alt="peanuts">
					{% endif %}
					{% if food.allergen.soy %}
						<img class="img-circle" src="/static/images/soy.png" alt="soy">
					{% endif %}
					{% if food.allergen.treenuts %}
						<img class="img-circle" src="/static/images/treenuts.png" alt="treenuts">
					{% endif %}
					{% if food.allergen.fish %}
						<img class="img-circle" src="/static/images/fish.png" alt="fish">
					{% endif %}
					{% if food.allergen.shellfish %}
						<img class="img-circle" src="/static/images/shellfish.png" alt="shellfish">
					{% endif %}
					</td>
					<td><a href="/user/{{ food.user_id }}">{{ food.user.fname }} {{ food.user.lname }}</a></td>
					<td><img class="img-circle" src="//graph.facebook.com/{{ food.user.fb_id }}/picture" alt="Facebook profile picture"></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div id="listingsMap" style="display: block">
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-sm-12">
	      <div id="map"></div>
	    </div>
	  </div> <!-- close row -->
	</div> <!-- close container -->
</div>
    
<script type="text/javascript" src="static/map.js"></script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
</script>
<script>
function loadMap(evt){
	$("#tableButton").removeClass('active');
	$("#tableButton").removeAttr('autofocus');
	$("#mapButton").attr('autofocus');
	$("#mapButton").addClass('active');
	$("#listingsTable").css("display", "none");
	$("#listingsMap").css("display", "block");
}
$("#mapButton").on('click', loadMap);

function loadTable(evt){
	$("#mapButton").removeClass('active');
	$("#mapButton").removeAttr('autofocus');
	$("#tableButton").attr('autofocus');
	$("#tableButton").addClass('active');
	$("#listingsTable").css("display", "block");
	$("#listingsMap").css("display", "none");
}
$("#tableButton").on('click', loadTable);
</script>
{% endblock %}
