<!doctype html>
<html>
<head>
	<title>Make Less Mush</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<script src="/static/fblogin.js"></script>

<!-- login button triggers FB.login function when clicked -->


	<h1>Welcome to Make Less Mush</h1>

	<h4>Please sign in:</h4>

	{% for message in get_flashed_messages() %}
	{{message}}
	<br>
	{% endfor %}
	<div id='fb-root'></div>

	<fb:login-button size='large' 
		 		 autologoutlink = 'true' 
		 		 scope="public_profile,email,user_friends" 
		 		 onlogin="checkLoginState();">
	</fb:login-button>


	<div id="status"></div>
	<br>

	<h2>or</h2>

	<form action='login_portal' method='post'>
		<label>Email: 
			<input type='email' name='email' placeholder='username@email.com'>
		</label>
		<br>
		<label>Password: 
			<input type='password' name='password'>
		</label>
		<input type='submit' value='Login'>
	</form>
	<br>
	<a href='/signup'>Not a user? Click here to sign up!</a>

</body>
</html>
