{% extends 'base.html' %}
{% block title %}Listings Map{% endblock %}
{% block head %}
<style type="text/css">
      #map { height: 500px; width: 450px%; }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="map"></div>
    </div>
  </div> <!-- close row -->
</div> <!-- close container -->
    
<script type="text/javascript" src="static/map.js"></script>
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
</script>
{% endblock %}
