{% extends 'base.html' %}
{% block content %}
<script>
	$("#messagesButton").attr("class", 'active');
</script>

<h3>New Messages:</h3>
<div id="messageSent" class="alert alert-success" role="alert" style="display: none"></div>
{% if all_messages %}
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Date Sent:</th>
				<th>Message From:</th>
				<th>Message</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		{% if unread_messages %}
			<tbody id="unReadMessages">
			{% for message in unread_messages %}
				<tr class='unReadMessage' id='message{{ message.message_id }}'>
					<td>{{ message.datetime_sent.strftime("%b %d, %Y") }}</td>
					<td>{{ message.user.fname }} {{ message.user.lname }}</td>
					<td>{{ message.message_sent }}</td>
					<td style="font-weight: normal">
						<button id = "reply{{message.message_id}}" class="btn btn-sm" data-toggle="modal" data-target="#myModal{{message.message_id}}">Reply</button>
						<div class="replyModal modal fade" id="myModal{{message.message_id}}" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
	    							<div class="modal-header">
	        							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        							<h1 id="header{{message.message_id}}" class="modalHeader modal-title">Reply to {{ message.user.fname }}:</h1>
	    							</div>
									<div class="modal-body">
										<p>Original message: {{ message.message_sent }}</p>
										<form action="/reply_to_message" methods="post" class="modalForm" id='replyTo{{ message.message_id }}'>
	    									<input class="modalUser" id="modalUser{{message.message_id}}" type="hidden" name="send_message_to" value="{{ message.user.user_id }}">
											<textarea class="modalTextArea" id="textArea{{message.message_id}}" name='message' rows='10' cols='75'></textarea>
									</div>
									<div class="modal-footer">
	    								<button class="modalCancel btn btn-default" data-dismiss="modal">Cancel</button>
	    								<button class="modalSubmit btn btn-primary pull-right" data-id='submit{{ message.message_id }}'>Reply</button>	
									</div>
									</form>
								</div>
							</div>
						</div>
					</td>
					<td><button class="deleteButton btn btn-sm" data-id='delete{{ message.message_id }}'>Delete</button></td>
					<td><button data-id='read{{ message.message_id }}' class="readStatusButton btn btn-sm">Mark as read</button></td>
				</tr>
			{% endfor %}
			</tbody>
		{% endif %}
		{% if read_messages %}
		<tbody id="readMessages">
			{% for message in read_messages %}
				<tr class='readMessage' id='message{{ message.message_id }}'>
					<td>{{ message.datetime_sent.strftime("%b %d, %Y") }}</td>
					<td>{{ message.user.fname }} {{ message.user.lname }}</td>
					<td>{{ message.message_sent }}</td>
					<td style="font-weight: normal">
						<button id = "reply{{message.message_id}}" class="btn btn-sm" data-toggle="modal" data-target="#myModal{{message.message_id}}">Reply</button>
						<div class="replyModal modal fade" id="myModal{{message.message_id}}" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
	    							<div class="modal-header">
	        							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        							<h1 id="header{{message.message_id}}" class="modalHeader modal-title">Reply to {{ message.user.fname }}:</h1>
	    							</div>
									<div class="modal-body">
										<p>Original message: {{ message.message_sent }}</p>
										<form action="/reply_to_message" methods="post" class="modalForm" id='replyTo{{ message.message_id }}'>
	    									<input class="modalUser" id="modalUser{{message.message_id}}" type="hidden" name="send_message_to" value="{{ message.user.user_id }}">
											<textarea class="modalTextArea" id="textArea{{message.message_id}}" name='message' rows='10' cols='75'></textarea>
									</div>
									<div class="modal-footer">
	    								<button class="modalCancel btn btn-default" data-dismiss="modal">Cancel</button>
	    								<button class="modalSubmit btn btn-primary pull-right" data-id='submit{{ message.message_id }}'>Reply</button>	
									</div>
									</form>
								</div>
							</div>
						</div>
					</td>
					<td><button class="deleteButton btn btn-sm" data-id='delete{{ message.message_id }}'>Delete</button></td>
					<td><button data-id='read{{ message.message_id }}' class="readStatusButton btn btn-sm">Mark as unread</button></td>
				</tr>
			{% endfor %}
			</tbody>
		{% endif %}
	</table>
{% else %}
	<p>You have new messages</p>
{% endif %}
<script>
	function deleteMessage(evt) {
		//delete the user message and display success message
		targetMessage = $(evt.currentTarget).data().id;
		var thisMessage = targetMessage.slice(6);
		var messageId = { message_id: thisMessage };
		$.post("/delete_message", messageId, function (result) {
			$("#messageSent").html('');
			$("#messageSent").css("display", "block");
			$("#messageSent").html('Your message has been deleted.');
			$("#messageSent").delay(3000).fadeOut();
			$("#message"+thisMessage).remove();
			});
	}
	$('.deleteButton').click(deleteMessage);

	function reply(evt) {
		//submit the form to the server and close the modal window
		evt.preventDefault();
		targetModal = $(evt.currentTarget).data().id;
		var thisModal = targetModal.slice(6);
		messageInfo = $("#replyTo"+thisModal).serialize();

		$.post("/reply_to_message", messageInfo, function (result) {
			// Display a success message
			$("#textArea"+thisModal).val("");
			$("#myModal"+thisModal).modal('hide');
			$("#messageSent").html('');
			$("#messageSent").css("display", "block");
			$("#messageSent").html(result);
			$("#messageSent").delay(3000).fadeOut();
			});// close the Ajax call
	}// close the reply function

	$('.modalSubmit').click(reply);

	function toggleRead(evt) {
		targetMessage = $(evt.currentTarget).data().id;
		var thisMessageId = targetMessage.slice(4);
		var messageId = { message_id: thisMessageId };
		$.post("/toggle_read", messageId, function (result) {
			// display a success message
			$("#messageSent").html('');
			$("#messageSent").css("display", "block");
			$("#messageSent").html('Your message has been marked as read.');
			$("#messageSent").delay(3000).fadeOut();
			// change the class and change the button
			if (result['read_status'] === true) {
				$(evt.currentTarget).html("Mark as unread");
				$("#message"+thisMessageId).removeClass('unreadMessage');
				$("#message"+thisMessageId).addClass('readMessage');
			} else {
				$(evt.currentTarget).html("Mark as read");
				$("#message"+thisMessageId).removeClass('readMessage');
				$("#message"+thisMessageId).addClass('unReadMessage');
			}
			$("#messageCount").html(result['new_messages']);
		});
	}

	$('.readStatusButton').click(toggleRead);

	// function markAsUnread(evt) {
	// 	targetUnReadMessage = $(evt.currentTarget).data().id;
	// 	var thisUnReadMessageId = targetUnReadMessage.slice(6);
	// 	var unReadMessageId = { message_id: thisUnReadMessageId };

	// 	$.post("/mark_as_unread", unReadMessageId, function (result) {
	// 		console.log(result);
	// 		// display success message
	// 		$("#messageSent").html('');
	// 		$("#messageSent").css("display", "block");
	// 		$("#messageSent").html('Your message has been marked as unread.');
	// 		$("#messageSent").delay(3000).fadeOut();
	// 		// change from bold to unbold
	// 		$("#message"+thisUnReadMessageId).removeClass('readMessage');
	// 		$("#message"+thisUnReadMessageId).addClass('unReadMessage');
	// 		//change the button
	// 		$(evt.currentTarget).html("Mark as read");
	// 		$(evt.currentTarget).removeClass()
	// 		$(evt.currentTarget).addClass('readButton btn btn-sm');
	// 		$(evt.currentTarget).attr("data-id", 'read'+thisUnReadMessageId);
	// 		//push it to the bottom of the unread messages? That sounds crazy.
	// 	});
	// }

	// $('.unreadButton').click(markAsUnread);
</script>

{% endblock %}


<button data-id="unread170" class="unreadButton btn btn-sm">Mark as unread</button>
<button data-id="unread170" class="unreadButton btn btn-sm">Mark as unread</button>

right after click:
<button data-id="read170" class="readButton btn btn-sm">Mark as read</button>
on refresh:
<button data-id="read170" class="readButton btn btn-sm">Mark as read</button>