{% extends 'base.html' %}
{% block content %}

<h2>Messages to you:</h2>
<div id="message_sent"></div>
{% if user_messages %}
<table>
	<thead>
		<tr>
			<th>Date Sent:</th>
			<th>Message From:</th>
			<th>Message</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for message in user_messages %}
			<tr class='user-message' id='message{{ message.message_id }}'>
					<td>{{ message.datetime_sent.strftime("%b %d, %Y") }}</td>
					<td>{{ message.user.fname }} {{ message.user.lname }}</td>
					<td>{{ message.message_sent }}</td>
					<th><button id='replyto{{ message.user.user_id }}'>Reply</button>
					<td><button id='deletemessage{{ message.message_id }}'>Delete</button></td>
			</tr>
			<script>
				function deleteMessage() {
					alert("delete! {{message.message_id}}");
					var message_id = { message_id: {{ message.message_id }} };
					$.post("/delete_message", message_id, function (result) {
						$("#message_sent").html('Your message has been deleted.');
						$("#message_sent").delay(5000).fadeOut();
						$("#message{{ message.message_id }}").remove();
					});
				}
				$('#deletemessage{{ message.message_id }}').on('click', deleteMessage);
			</script>
		{% endfor %}
	</tbody>
</table>

{% else %}
	<p>Sorry. You have no messages.</p>

{% endif %}

{% endblock %}