{% extends 'base.html' %}
{% block title %}My Listings - {% endblock %}
{% block content %}
<script>
	$("#myListingsButton").attr("class", 'active');
</script>
<style>
#myListingsLink {
	background-color: #CCD1D9;
	margin: 0;
}
</style>
<div id="myListings" class="container">
	<div class="row">
		<div id="myListingsHeader">
			<h2>Listings for {{ user.fname }} {{ user.lname }}</h2>
		</div>
		{% if user_listings %}
			<table id="myListingsTable" class="table table-condensed table-hover">
				<thead>
					<tr>Active listings</tr>
					<tr>
						<th>Date posted</th>
						<th>Title</th>
						<th colspan="2">Description</th>
					</tr>
				</thead>
				<tbody>
					{% for food in user_listings %}
						<tr>
							<td>{{ food.post_date.strftime("%b %d, %Y") }}</td>
							<td>{{ food.title }}</td>
							<td>{{ food.description }}</td>
							</td>
					        <td>{{ food.description }} 
            					{% if food.allergen.eggs %}
            						<img class="allergen img-circle" src="/static/images/eggs.png" alt="eggs" title="eggs">
            					{% endif %}
            					{% if food.allergen.wheat %}
            						<img class="allergen img-circle" src="/static/images/wheat.png" alt="wheat" title="wheat">
            					{% endif %}
            					{% if food.allergen.dairy %}
            						<img class="allergen img-circle" src="/static/images/dairy.png" alt="dairy" title="dairy">
            					{% endif %}
            					{% if food.allergen.peanuts %}
            						<img class="allergen img-circle" src="/static/images/peanuts.png" alt="peanuts" title="peanuts">
            					{% endif %}
            					{% if food.allergen.soy %}
            						<img class="allergen img-circle" src="/static/images/soy.png" alt="soy" title="soy">
            					{% endif %}
            					{% if food.allergen.treenuts %}
            						<img class="allergen img-circle" src="/static/images/treenuts.png" alt="treenuts" title="treenuts">
            					{% endif %}
            					{% if food.allergen.fish %}
            						<img class="allergen img-circle" src="/static/images/fish.png" alt="fish" title="fish">
            					{% endif %}
            					{% if food.allergen.shellfish %}
            						<img class="allergen img-circle" src="/static/images/shellfish.png" alt="shellfish" title="shellfish">
            					{% endif %}
                            </td>
							<td>
								<a href="/listings/edit/{{food.food_id}}">update</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>Deactivated listings</tr>
					<tr>
						<th>Date posted</th>
						<th>Title</th>
						<th>Description</th>
						<th>Shared with</th>
					</tr>
				</thead>
				<tbody>
					{% for food in old_listings %}
						<tr>
							<td>{{ food.post_date.strftime("%b %d, %Y") }}</td>
							<td>{{ food.title }}</td>
							<td>{{ food.description }}</td>
							<td>{{ food.shared_with }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<p>Sorry. You haven't posted any listings yet.</p>
			<p>If you would like to add a listing, <a href="/home">return to the home page.</a></p>
		{% endif %}
	</div>
</div>
{% endblock %}