<!doctype html>
<html>
<head>
	<title>Make Less Mush</title>
</head>
<body>
	<h1>Welcome to Make Less Mush</h1>
	<h4>To create an account, please fill out the following form:</h4>
	<form action='signup_portal' method='post'>
		<label>Email: 
			<input type='email' name='email' placeholder='username@email.com'>
		</label>
		<br>
		<label>Password: 
			<input type='password' name='password'>
		</label>
		<br>
		<label>First name: 
			<input type='text' name='fname'>
		</label>
		<br>
		<label>Last name: 
			<input type='text' name='lname'>
		</label>
		<br>
		<input type='submit' value='Create Account'>
	</form>
</body>
</html>