<!doctype html>
<html>
<head>
	<title>Make Less Mush</title>
	<script src="/static/jquery/jquery-2.1.4.js"></script>
    <link href="/static/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/Bootstrap/js/bootstrap.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel="icon" href="/static/images/mlmlogo.jpg"> 
	<link rel="stylesheet" href="/static/css/signupBlue.css">
</head>
<body>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div id="box" class="inner cover">
	    		<h1 class="signupHeading cover-heading">Sign Up For<br>Make Less Mush</h1>
	    		<p class="signupPara">To create an account, please fill out the following form:</p>
	    		<form class="form-signin" action='/signup_portal' method='post'>
		        <label for="inputEmail" class="sr-only">Email address</label>
		        	<input type="email" id="inputEmail" class="form-control" name='email' placeholder="username@email.com" required autofocus>
		        <label for="inputPassword" class="sr-only" type='password'>Password</label>
		        	<input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password" required>
		        <label for="inputFirstName" class="sr-only" type='text'>First Name</label>
		        	<input type="text" id="inputFirstName" class="form-control" name='fname' placeholder="First Name" required>
		        <label for="inputLastName" class="sr-only" type='text'>Last Name</label>
		        	<input type="text" id="inputLastName" class="form-control" name='lname' placeholder="Last Name" required>
		        <br>
	        <input id="signUpButton" class="btn btn-lg btn-primary btn-block" type="submit" value="Create Account">
		</form>
	</div>
</div>
</body>
</html>