<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/static/images/mlmlogo.jpg">
    <title>Make Less Mush</title>
    <script src="/static/jquery/jquery-2.1.4.js"></script>
    <link href="static/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/Bootstrap/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/cover.css" >
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div id="box" class="inner cover">
            <h1 class="splashHeading cover-heading">Make Less Mush</h1>
            <p class="splashPara lead">Share baby food with your friends!</p>
            <p>
              <a href="/login" id="loginbutton" class="btn btn-lg btn-default">Log In</a>
            </p>
            <p class="lead">
              <a href="/signup" id="signupbutton" class="btn btn-lg btn-default">Sign Up</a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p><a id="splashfooter" href="https://github.com/akvanhar/HB-FinalProject">Developed by Alyson van Hardenberg</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>