<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hackbright Final Project">
    <meta name="author" content="Alyson van Hardenberg">
    <link rel="icon" href="/static/images/mlmlogo.jpg">

    <title>Make Less Mush</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link href="/static/css/cover.css" rel="stylesheet">

  </head>

  <body>
    <img src="images/bg.jpg" id="bg" alt="">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Make Less Mush.</h1>
            <p class="lead">Instead, share your baby food with your friends!</p>
            <p class="lead">
              <a href="/login" class="btn btn-lg btn-default">Log In</a>
            </p>
            <p class="lead">
              <a href="/signup" class="btn btn-lg btn-default">Sign Up</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>A project developed by Alyson van Hardenberg as a Hackbright Academy Final Project.</p>
            </div>
          </div>

        </div>

      </div>

    </div>