<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/static/images/mlmlogo.jpg">
    <title>Make Less Mush</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
    <link href="/static/css/cover.css" rel="stylesheet">
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Make Less Mush.</h1>
            <p class="lead">Instead, share your baby food with your friends!</p>
            <p class="lead">
              <a href="/login" class="btn btn-lg btn-default">Log In</a>
            </p>
            <p class="lead">
              <a href="/signup" class="btn btn-lg btn-default">Sign Up</a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p><a href="https://github.com/akvanhar/HB-FinalProject">Developed by Alyson van Hardenberg</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>