<!DOCTYPE html>
<head>
  <title>
    Make Less Mush
  </title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
  </style>
</head>
<body>

    <div id="map"></div>
<script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 37.773561, lng: -122.444323},
    zoom: 13
  });

var marker = new google.maps.Marker({
    position: {lat: 37.766825, lng: -122.447352},
    map: map,
    title: 'MUSH!'
  });

  $.get('/listings.json', function(data) {
    var image = 'static/images/mlmlogo.jpg';
    for (var key in data) {
        var location = data[key];

            // Create marker per location object
            marker = new google.maps.Marker({
              position: {lat: location['latitude'], lng: location['longitude']},
              map: map,
              animation: google.maps.Animation.DROP,
              title: location['title'],
              // icon: image
            });

            // // Define content of infoWindow per marker
            // contentString = (
            //   '<div class="window-content">' +
            //   '<p>Posting User: ' + location['posting_user'] + '</p>' +
            //   '<p>Date Posted: ' + location['date_posted'] + '</p>'+
            //   '</div>'
            // );

            // Add event listeners per marker
            // bindinfoWindow(marker, map, infoWindow, contentString);

    }  // END for loop
  });//end $get
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
    </script>
</body>
</html>
