<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <script>var locations = JSON.parse({{locations}});
    console.log(locations);
    </script>
    <div id="map"></div>
    <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 37.773561, lng: -122.444323},
    zoom: 13
  });

var marker = new google.maps.Marker({
    position: {lat: 37.766825, lng: -122.447352},
    map: map,
    title: 'MUSH!'
  });
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
    </script>
  </body>
</html>

37.766825|-122.447352