{% extends 'base.html' %}
{% block title %}Send Message{% endblock %}
{% block content %}

<h2>{{ this_user.fname }} {{ this_user.lname }}'s Mush Listings</h2>

<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<th>Date posted</th>
			<th>Title</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for food in food_listings %}
			<tr>
				<td>{{ food.post_date.strftime("%b %d, %Y") }}</td>
				<td><a href="/listings/{{ food.food_id }}">
                    {{ food.title }}
                	</a>
                </td>
				<td>{{ food.description }}</td>
				<td><a href="/listings/{{ food.food_id }}">
					<button>Send {{ this_user.fname }} a message about this mush.</button>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}